/*  your css code here. If applicable */
*{
	font-family:sans-serif
}
h1{
	text-align:center;
}
#span{
	color:#0D6EFD;
}
input{
	width:100%;
	height:30px;
}
#submit{
	font-size:1.2em;
	background-color:#0D6EFD;
	color:white;
	padding:6px 10px;
	border:0px;
}
.table{
	margin-top:30px;
}
.cancelbtn{
	background-color:red;
	color:white;
	border:0px;
}